<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
        <main>
            <div class="user-header">
                <div>
                    <img class="user-cover_image" src="<%= user.coverImageUrl %>" alt="<%= user.name %> Cover Image">
                </div>
                <div class="user-details">
                    <img class="user-profile_image" src=<%=user.profileImageUrl %>"" alt="" class="<%= user.name %> Profile
                        Image">
                        <div class="user-details_texts">
                            <h1 class="user-name">
                                <%= user.name %>
                            </h1>
                            <p class="user-user-name">
                                <%= user.username %>
                            </p>
                            <p class="user-user-email">
                                <%= user.email %>
                            </p>
                        </div>
                </div>
            </div>
            <section>
                <h1 class="post-title">
                    <%= user.name %>'s Posts
                </h1>
                <div class="user-post_list">
                    <% user.posts.forEach(post=> {%>
                        <div class="user-post">
                            <img class="user-post_image" src="<%= post.imageUrl %>" alt="User Image not loading"
                                onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'">
                            <div class="user-post_details">
                                <div class="user-post_details-info">
                                    <p>
                                        <%= user.username %>
                                    </p>
                                    <p class="user-date">
                                        <%= format(post.createdAt, "dd/MM/yyyy" ) %>
                                    </p>
                                </div>
                                <p class="user-post_details-message">
                                    <%= post.message %>
                                </p>
                            </div>
                        </div>
                        <% }); %>
    
                </div>
            </section>
        </main>
        <%- include('_footer') -%>

</html>