<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<main>
    <div class="user-header">
        <div class="user-cover_image"></div>
        <img src=<%= profileImageUrl %>"" alt="" class="user-profile_img">
        <h1><%= name %></h1>
        <p class="user-user-name"><%= username %></p>
        <p class="user-user-email"><%= email %></p>
    </div>
     <h1 class="post-title"><%= name %>'s Posts</h1>
    <div class="user-post_list">       
        <% posts.forEach(post => {%>
            <div class="user-post">
                <img class="user-post_image" src="<%= post.imageUrl %>" alt="User Image not loading" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'">
                <p><%= username %></p>
                <p><%= post.createdAt %> </p>
                <p><%= post.message %> </p>
            </div>
        <% }); %>
        
    </div>
</main>
<%- include('_footer') -%>
</html>