<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
<ol class="user-list">
    <% results.forEach(function(user) {%>
        <li class="user">
            <img src="<%= user.profileImageUrl %>" width="150" alt="User Image not loading" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'">
            <div>
                <h2>
                    <%= user.name %>
                </h2>   
                <p>
                    <%= user.username %>
                </p>
            </div>
        </li>
    <% }); %>
</ol>

</html>